<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>692623989347-um9vqv54ko3k271rp80ga3m3m7vsmts2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.692623989347-um9vqv54ko3k271rp80ga3m3m7vsmts2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>692623989347-96p95ek5arhl82fhpcsird3954tmnjq5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB_0fBnN86OtZxzDQb5aRt-9S9kIl4GBXQ</string>
	<key>GCM_SENDER_ID</key>
	<string>692623989347</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.skicom</string>
	<key>PROJECT_ID</key>
	<string>skicom</string>
	<key>STORAGE_BUCKET</key>
	<string>skicom.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:692623989347:ios:76b73e34f00102a6107656</string>
</dict>
</plist>